<div class="col-12" (click)=showCustomEditDiv(itemRenderId,arrayType); (mouseenter)=showCustomEditDiv(itemRenderId,arrayType);>
	<div class="m-demo__preview">
		<p class="lead">
			<a class="m-link" href="javascript:" ng-reflect-href="javascript:" >
				Example link
			</a>
		</p>
	</div>
</div>
<div class="elementOptions" *ngIf="showCustomDiv">
	<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
	<div ngbDropdown class="formControlrs">
		   <button type="button" class="menuBtn" (click)=toggleEmentStyle()><i class="fa fa-caret-down" aria-hidden="true"></i></button> 
		   <button type="button" class="editBtn" (click)="removeDailog()"><i class="fa fa-times" aria-hidden="true"></i></button>
		    <div class="confirmElementDelete UpDelete" [ngClass]="{'transition':show}" *ngIf="showElementDelete" [@enterAnimation] aria-labelledby="dropdownBasic1">
				<div class="confirmElementDelete secondDeldiv">
					<span>Are you sure?</span>
					<button type="button" class="btn hideBtn" (click)="hideRemoveItem()">No</button>
					<button type="button" class="btn deleteBtn" (click)="removeItem(itemRenderId,arrayType)">Yes</button>
				</div>
			</div>
	</div>
</div>