
<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		
		<div class="m-menu__section">
            <h4 class="m-menu__section-text nav-title">Controls</h4>
            <i class="m-menu__section-icon flaticon-more-v3"></i>
        </div>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li *ngFor="let item of itemsControlToDrop" class="m-menu__item">
				<a  routerLink="/index" class="dragItem m-menu__link" [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)" [ngClass]="{'dragItem-round':item.type===0,'dragItem-square':item.type===1}" (startDrag)="startDrag(item)">
					<i class="{{item.iconClass}}"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{item.name}}
							</span>
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		
		<h4 class="nav-title">Structure</h4>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li *ngFor="let item of itemsStractureToDrop" class="m-menu__item">
				<a  routerLink="/index" class="dragItem m-menu__link" [dragDirective]='item' [dragHightlight]="'highlight'" (releaseDrop)="releaseDrop($event)" [ngClass]="{'dragItem-round':item.type===0,'dragItem-square':item.type===1}" (startDrag)="startDrag(item)">
					<i class="{{item.iconClass}}"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								{{item.name}}
							</span>
						</span>
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/form-builder" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-th-large"></i>
					<span class="m-menu__link-text">
						Divider
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/form-builder" class="m-menu__link">
					<i class="m-menu__link-icon fa fa-adjust"></i>
					<span class="m-menu__link-text">
						Spacer
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/form-builder" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-grid"></i>
					<span class="m-menu__link-text">
						Grid
					</span>
				</a>
			</li> -->
		</ul>
	</div>
	
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"  		data-menu-vertical="true" 		 data-menu-scrollable="false" data-menu-dropdown-timeout="500"   		>
		
		<h4 class="nav-title">Media</h4>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/form-builder" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-metal-paper-clip"></i>
					<span class="m-menu__link-text">
						File Attachment
					</span>
				</a>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/form-builder" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-video-camera"></i>
					<span class="m-menu__link-text">
						Embed Video
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
