<div class="{{grid.classname}} text-left" [ngClass]="{'transition':show}" dropDirective (dropEvent)=addItemToGrid($event); false [dropHighlight]="'highlight'" *ngFor="let grid of createNewGrid;">
	<h2>{{grid.demoTitle}}</h2>
	<p>{{grid.demoPara}}</p>
	<div class="dragged-item {{item.itemclass}}" *ngFor="let item of itemsGridDropped;let dropIndex = index" [ngClass]="{'transition':show}" [@enterAnimation]>
		<div class="editArea" (click)=showCustomEditDiv(item,$event); false>
			<div class="customField" >
				<!-- Basic control-->
				<div class="toggleElelement element-box-contents" *ngIf="item.showBasicControl">
					<title-control *ngIf="item.content == 'titlecontrol'"></title-control>
					<label-control *ngIf="item.content == 'labelcontrol'"></label-control>
					<input-control *ngIf="item.content == 'inputcontrol'"></input-control>
					<checkbox-control *ngIf="item.content == 'checkboxcontrol'"></checkbox-control>
					<dtc-control *ngIf="item.content == 'dtccontrol'"></dtc-control>
					<dtp-control *ngIf="item.content == 'dtpcontrol'"></dtp-control>
					<button-control *ngIf="item.content == 'buttoncontrol'"></button-control>
					<dropdown-control *ngIf="item.content == 'dropdowncontrol'"></dropdown-control>
					<tditor-control *ngIf="item.content == 'tditorcontrol'"></tditor-control>
					<modal-control *ngIf="item.content == 'modalcontrol'"></modal-control>
					<radio-control *ngIf="item.content == 'radiocontrol'"></radio-control>
					<image-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'" *ngIf="item.content == 'imageuploader'"></image-uploader>
					<form-control *ngIf="item.content == 'formcontrol'"></form-control>
					<paragraph-control *ngIf="item.content == 'paragraphcontrol'"></paragraph-control>
					<anchor-control *ngIf="item.content == 'anchorcontrol'"></anchor-control>
					<tabs-control *ngIf="item.content == 'tabscontrol'"></tabs-control>
				</div>
				<!-- Stracture control -->
				<div class="toggleElelement element-box-contents-for-stracture" *ngIf="item.content == 'dividercontrol'">
					<divider-control></divider-control>
				 </div>
				 <div class="toggleElelement element-box-contents-for-divider" *ngIf="item.content == 'gridcontrol'">
					<grid-control></grid-control>
				 </div>
			</div>
		</div>
	</div>
</div>
<div class="grid-templates">
	<ng-template #content let-c="close" let-d="dismiss">
		  <div class="modal-header">
				<h4 class="modal-title">Select Template</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">×</span>
				</button>
		  </div>
		 <div class="modal-body">
			<ul class="grid-templates flex-items">
				<li (click)="getGridCol(4)" class="selected-grid">
					<div class="grid-template-icon"><img colAttr='col-12' width="120" src="./assets/easiflow/default/media/img/misc/grid1.png">
					</div>
					<span class="grid-template-title">1 Column (12:0)</span>
				</li>
			    <li (click)="getGridCol(1)">
					<div class="grid-template-icon"><img colAttr='col-6' width="120" src="./assets/easiflow/default/media/img/misc/grid2.png"></div>
					<span class="grid-template-title">2 Column (6:6)</span>
			    </li>
				<li (click)="getGridCol(2)">
					<div class="grid-template-icon"><img width="120" src="./assets/easiflow/default/media/img/misc/grid3.png"></div>
					<span class="grid-template-title">2 Column (4:8)</span>
				</li>
			    <li (click)="getGridCol(3)">
					<div class="grid-template-icon"><img width="120" src="./assets/easiflow/default/media/img/misc/grid5.png"></div>
					<span class="grid-template-title">3 Column (4:4:4)</span>
			     </li>
			</ul>
		</div>
	</ng-template>
</div>
<button type="button" class="btn btn-secondary m-btn m-btn--custom" (click)="open(content)">Launch demo modal</button>
<div class="elementOptions" *ngIf="showCustomDiv">
	<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
	<div ngbDropdown class="formControlrs">
		   <button type="button" class="menuBtn" (click)=toggleEmentStyle()><i class="fa fa-caret-down" aria-hidden="true"></i></button> 
		   <button type="button" class="editBtn" (click)="removeDailog()"><i class="fa fa-times" aria-hidden="true"></i></button>
		   <div class="confirmElementDelete" [ngClass]="{'transition':show}" *ngIf="showElementDelete" [@enterAnimation]>
				<span>Are you sure?</span>
				<button type="button" class="btn hideBtn" (click)="hideRemoveItem()">No</button>
				<button type="button" class="btn deleteBtn" (click)="removeItem(itemRenderId)">Yes</button>
		   </div>
	</div>
</div>
