<div class="{{grid.classname}} text-left gridminheight droppable" [ngStyle]="{'transition':'show,flex'}" [class.dropOverActive]="dropOverActive" mwlDroppable (dragEnter)="dropOverActive = true"
 (dragLeave)="dropOverActive = false" (drop)=addItemToGrid($event,grid.arrGridLength,gridIndex,itemRenderId,arrayType); *ngFor="let grid of indexcomponent.createNewGrid[arrLength];let gridIndex=index" (mouseenter)=showCustomEditDiv(itemRenderId,arrayType);>
	<div class="drag-here-component droppable" *ngIf="grid.showDemoGridText">
		<i class="m-menu__link-icon la la-object-ungroup"></i>
		<h4>Drag Your Components Here</h4>
	</div>
	<div [dragula]='"main-items"' [dragulaModel]='indexcomponent.itemsGridDropped[grid.arrGridLength][gridIndex]'>
		<div class="dragged-item {{item.itemclass}}" *ngFor="let item of indexcomponent.itemsGridDropped[grid.arrGridLength][gridIndex];let parentIndex = index" [ngClass]="{'transition':show}" [@enterAnimation]>
			<div class="editArea">
				<div class="customField" >
						<!-- Basic control-->
						<div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.showBasicControl">
							<title-control *ngIf="item.content == 'titlecontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></title-control>
							<label-control *ngIf="item.content == 'labelcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></label-control>
							<input-control *ngIf="item.content == 'inputcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></input-control>
							<checkbox-control *ngIf="item.content == 'checkboxcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></checkbox-control>
							<dtc-control *ngIf="item.content == 'dtccontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></dtc-control>
							<dtp-control *ngIf="item.content == 'dtpcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></dtp-control>
							<button-control *ngIf="item.content == 'buttoncontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></button-control>
							<dropdown-control *ngIf="item.content == 'dropdowncontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></dropdown-control>
							<tditor-control *ngIf="item.content == 'tditorcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></tditor-control>
							<modal-control *ngIf="item.content == 'modalcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></modal-control>
							<radio-control *ngIf="item.content == 'radiocontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></radio-control>
							<image-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'" *ngIf="item.content == 'imageuploader'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></image-uploader>
							<form-control *ngIf="item.content == 'formcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></form-control>
							<paragraph-control *ngIf="item.content == 'paragraphcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></paragraph-control>
							<anchor-control *ngIf="item.content == 'anchorcontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></anchor-control>
							<tabs-control *ngIf="item.content == 'tabscontrol'" [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></tabs-control>
					</div>
					<!-- Stracture control -->
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'sectioncontrol'">
						<section-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></section-control>
					 </div>
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'dividercontrol'">
						<divider-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></divider-control>
					 </div>
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'spacercontrol'">
						<spacer-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></spacer-control>
					 </div>
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'gridcontrol'">
						<grid-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></grid-control>
					 </div>
					 <!-- Media control -->
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'fileattachmentcontrol'">
						<fileattachment-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></fileattachment-control>
					 </div>
					 <div class="toggleElelement" [ngClass]="item.divClass" *ngIf="item.content == 'embedvidcontrol'">
						<embedvid-control [itemRenderId]=item.itemRenderId [showElementDelete]=item.showElementDelete [showCustomDiv]=item.showCustomDiv [arrayType]=item.arrayType></embedvid-control>
					 </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="grid-templates">
	<ng-template #content let-c="close" let-d="dismiss">
		  <div class="modal-header">
				<h4 class="modal-title">Select Template</h4>
				<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					<span aria-hidden="true">×</span>
				</button>
		  </div>
		 <div class="modal-body">
			<ul class="grid-templates flex-items">
				<li *ngFor="let gridproperty of createGridProperty;let gridPropIndex = index" (click)="getGridCol(gridPropIndex,arrLength,gridproperty)" [ngClass]="{selectedgrid: isSelectedGridProperty(gridproperty)}" (click)="d('Cross click')">
					<div class="grid-template-icon"><img  width="120" src="./assets/easiflow/default/media/img/misc/{{gridproperty.imageName}}">
					</div>
					<span class="grid-template-title">{{gridproperty.Content}}</span>
				</li>
			</ul>
		</div>
	</ng-template>
	</div>
	<div class="elementOptions" *ngIf="showCustomDiv">
		<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
		<div ngbDropdown class="formControlrs">
			   <button type="button" class="menuBtn" (click)="open(content)"><i class="fa fa-caret-down" aria-hidden="true"></i></button> 
			   <button type="button" class="editBtn" (click)="removeDailog()"><i class="fa fa-times" aria-hidden="true"></i></button>
			   <div class="confirmElementDelete" [ngClass]="{'transition':show}" *ngIf="showElementDelete" [@enterAnimation]>
					<span>Are you sure?</span>
					<button type="button" class="btn hideBtn" (click)="hideRemoveItem()">No</button>
					<button type="button" class="btn deleteBtn" (click)="removeItem(itemRenderId,arrayType)">Yes</button>
			   </div>
		</div>
	</div>