<!-- BEGIN: Subheader -->
<!-- <div class="m-subheader" appunwraptag="">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div>
	</div>
</div> -->
<!-- END: Subheader -->
<div class="action-header">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<div class="form-actions">
			<button type="submit" name="builder_submit" data-demo="demo3" class="btn btn-outline-accent m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom">
				<span>
					<i class="flaticon-eye"></i>
					<span>Preview mode</span>
				</span>
			</button>
			<button type="submit" id="builder_export" class="dropdown-toggle1 btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--air m-btn--custom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span>
					<i class="flaticon-checked"></i>
					<span>Publish</span>
				</span>
			</button>
		</div>
	</div>
</div>

<div class="m-content" (click)=hideCustomEditDiv($event); false>
	<div class="draggable-directive" dropDirective (dropEvent)="addDropItem($event)" class="droppable" [dropHighlight]="'highlight'">
		<div class="m-portlet m-portlet--mobile m-editable-area flex-items">
			<form class="m-form m-form--fit m-form--label-align-right" >
				<div class="m-portlet__body">
					<!--begin: Datatable -->
						<div class="drag-here-component droppable" *ngIf="showSelected">
							<i class="m-menu__link-icon la la-object-ungroup"></i>
							<h4>Drag Your Components Here</h4>
							
						</div>
						<div class="dragged-item {{item.itemclass}}" *ngFor="let item of itemsDropped" [ngClass]="{'transition':show}" [@enterAnimation]>
							<div class="editArea" (click)=showCustomEditDiv(item,$event); false>
								<div class="customField" >
									
									
									<!-- <div class="toggleElelement element-box-contents" *ngIf="item.content == 'checkbox'">
										<div class="checkbox">
											<label>
											  <input type="checkbox" placeholder="Click here to edit checkbox"> Check me out
											</label>
										</div>
									</div> -->
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'titlecontrol'">
										<title-control></title-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'labelcontrol'">
										<label-control></label-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'inputcontrol'">
										<input-control></input-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'checkboxcontrol'">
										<checkbox-control></checkbox-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'dtccontrol'">
										<dtc-control></dtc-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'dtpcontrol'">
										<dtp-control></dtp-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'buttoncontrol'">
										<button-control></button-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'dropdowncontrol'">
										<dropdown-control></dropdown-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'tditorcontrol'">
										<tditor-control></tditor-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'modalcontrol'">
										<modal-control></modal-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'radiocontrol'">
										<radio-control></radio-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'imageuploader'">
										<image-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'"></image-uploader>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'formcontrol'">
										<form-control></form-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'paragraphcontrol'">
										<paragraph-control></paragraph-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'anchorcontrol'">
										<anchor-control></anchor-control>
									</div>
									<div class="toggleElelement element-box-contents" *ngIf="item.content == 'tabscontrol'">
										<tabs-control></tabs-control>
									</div>
									
									
									<!-- <div [innerHTML]="item.content" class="toggleElelement element-box-contents" *ngIf="item.content != 'input' && item.content != 'checkbox' && item.content != 'img' && removeItemClass"></div> -->
									
									<!-- <input type="text" class="formControl" placeholder="Click here to edit" /> -->
									<div class="elementOptions" *ngIf="item.showCustomDiv">
										<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
										<div class="formControlrs">
											<button type="button" class="menuBtn" (click)=toggleEmentStyle(item)><i class="fa fa-caret-down" aria-hidden="true"></i></button>
											<button type="button" class="editBtn" (click)="removeDailog(item)"><i class="fa fa-times" aria-hidden="true"></i></button>
											<div class="confirmElementDelete" *ngIf="item.showelEmentDelete" [ngClass]="{'transition':show}" [@enterAnimation]>
												Are you sure?
												<button type="button" class="btn deleteBtn" (click)="removeItem(item)">Delete</button>
											</div>
											<div class="elementStyles text-styling" *ngIf="item.showelEmentStyle" [ngClass]="{'transition':show}" [@enterAnimation]>
												<ul>
													<li>
														<button type="button">
															<i class="fa fa-bold"></i>
														</button>
													</li>
													<li>
														<button type="button">
															<i class="fa fa-italic"></i>
														</button>
													</li>
													<li>
														<button type="button">
															<i class="fa fa-underline"></i>
														</button>
													</li>
													<li>
														<button type="button">
															<i class="fa fa-font"></i>
														</button>
													</li>
													<li>
														<button type="button">
															<i class="fa fa-plus"></i>
														</button>
														<button type="button">
															<i class="fa fa-minus"></i>
														</button>
													</li>
													<li>
														<button type="button" class="caretIcon">
															<i class="fa fa-align-left"></i>
														</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!--end: Datatable -->
				</div>
			</form>
		</div>
	</div>
</div>

