<div class="col-12" (click)=showCustomEditDiv(itemRenderId,arrayType); (mouseenter)=showCustomEditDiv(itemRenderId,arrayType);>
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
						<i class="la la-gear"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Horizontal Form Layout
					</h3>
				</div>
			</div>
		</div>
		
		<form class="m-form">
			<div class="m-portlet__body">
				<div class="m-form__section m-form__section--first">
					<div class="form-group m-form__group row">
						<label class="col-lg-3 col-form-label">
							Full Name:
						</label>
						<div class="col-lg-6">
							<input class="form-control m-input" placeholder="Enter full name" type="email">
							<span class="m-form__help">
								Please enter your full name
							</span>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-3 col-form-label">
							Email address:
						</label>
						<div class="col-lg-6">
							<input class="form-control m-input" placeholder="Enter email" type="email">
							<span class="m-form__help">
								We'll never share your email with anyone else
							</span>
						</div>
					</div>
					<div class="form-group m-form__group row">
						<label class="col-lg-3 col-form-label">
							Contact
						</label>
						<div class="col-lg-6">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<i class="la la-chain"></i>
									</span>
								</div>
								<input class="form-control m-input" placeholder="Phone number" type="text">
							</div>
						</div>
					</div>
					<div class="m-form__group form-group row">
						<label class="col-lg-3 col-form-label">
							Communication:
						</label>
						<div class="col-lg-6">
							<div class="m-checkbox-inline">
								<label class="m-checkbox">
									<input type="checkbox">
									Email
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									SMS
									<span></span>
								</label>
								<label class="m-checkbox">
									<input type="checkbox">
									Phone
									<span></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<button class="btn btn-success" type="reset">
								Submit
							</button>
							<button class="btn btn-secondary" type="reset">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		
	</div>
</div>
<div class="elementOptions" *ngIf="showCustomDiv">
	<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
	<div ngbDropdown class="formControlrs">
		   <button type="button" class="menuBtn" (click)=toggleEmentStyle()><i class="fa fa-caret-down" aria-hidden="true"></i></button> 
		   <button type="button" class="editBtn" (click)="removeDailog()"><i class="fa fa-times" aria-hidden="true"></i></button>
		   <div class="confirmElementDelete" [ngClass]="{'transition':show}" *ngIf="showElementDelete" [@enterAnimation]>
				<span>Are you sure?</span>
				<button type="button" class="btn hideBtn" (click)="hideRemoveItem()">No</button>
				<button type="button" class="btn deleteBtn" (click)="removeItem(itemRenderId,arrayType)">Yes</button>
		   </div>
	</div>
</div>