<div class="form-group m-form__group row" (click)=showCustomEditDiv(itemRenderId,arrayType);>
 <div class="flex-items">
	<div class="form-group m-form__group row">
		<label for="exampleInputEmail1">
		{{inputValue}}
		</label>
		<input class="form-control m-input" placeholder="Enter the text here" type="text">
   </div>
 </div>
</div>
<div class="elementOptions" *ngIf="showCustomDiv">
	<span class="dragElement"><i class="fa fa-bars" aria-hidden="true"></i></span>
	<div ngbDropdown class="formControlrs">
	   <button type="button" class="menuBtn" (click)=toggleEmentStyle()><i class="fa fa-caret-down" aria-hidden="true"></i></button> 
	   <button type="button" class="editBtn" (click)="removeDailog()"><i class="fa fa-times" aria-hidden="true"></i></button>
	   <div class="confirmElementDelete" [ngClass]="{'transition':show}" *ngIf="showElementDelete" [@enterAnimation]>
			<span>Are you sure?</span>
			<button type="button" class="btn hideBtn" (click)="hideRemoveItem()">No</button>
			<button type="button" class="btn deleteBtn" (click)="removeItem(itemRenderId,arrayType)">Yes</button>
	   </div>
	    <div class="editInputStyle easyDropdown" *ngIf="showelEmentStyle" [@enterAnimation] aria-labelledby="dropdownBasic1">
            <ul class="inputEditNav" (click)="stillPop()">
				 <li class="m-nav__section--first">
					<span class="m-nav__section-text m-form__group form-group row">
						<label for="exampleInputEmail1">Label Text</label>
						<input (keyup)="onKey($event)" class="form-control m-input" placeholder="{{inputValue}}" type="text">
					</span>
				 </li>
				 <li class="m-nav__item">
					  <span class="m-nav__section-text m-form__group form-group row">
							<span class="m-nav__link-text">Required</span>
							<span class="m-switch m-switch--icon m-switch--accent">
								<label>
									<input checked="checked" name="" type="checkbox">
									<span></span>
								</label>
							</span>
					  </span>
				 </li>
				 <li class="m-nav__item">
					<a class="m-nav__link  m-form__group form-group row" href="" ng-reflect-href="">
						<span class="m-nav__link-text">Instructions</span>
						<i class="m-menu__hor-arrow la la-angle-right"></i>
					</a>
				 </li>
				 <li class="m-nav__item">
					<a class="m-nav__link  m-form__group form-group row" href="" ng-reflect-href="">
						<span class="m-nav__link-text">Spacing</span>
						<i class="m-menu__hor-arrow la la-angle-right"></i>
					</a>
				 </li>
				 <li class="m-nav__item">
					<a class="m-nav__link  m-form__group form-group row" href="" ng-reflect-href="">
						<span class="m-nav__link-text">Advanced</span>
						<i class="m-menu__hor-arrow la la-angle-right"></i>
					</a>
				 </li>
			</ul>
        </div>
	</div>
</div>